html.js ul.tabs {
    border-bottom: 1px solid #2779aa;
    height: 30px;
    margin: 0 !important;
    padding: 0;
}

html.js ul.tabs li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

html.js ul.tabs a {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #2779aa;
    border-color: #2779aa #2779aa;
    border-radius: 4px 4px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    color: #eee;
    display: block;
    float: left;
    font-size: 15px;
    font-weight: bold;
    height: 18px;
    margin-right: 2px;
    outline: 0 none;
    padding: 5px 30px;
    position: relative;
    text-decoration: none;
    top: 1px;
}

html.js ul.tabs a:hover {
    background-color: #268cc6;
    color: #fff;
}

html.js ul.tabs a.current {
    background-color: #fff;
    height: 19px;
    border-bottom: 0;
    color: #2779aa;
    cursor: default;
}

html.js .panes > section {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    border-width: 0 1px 1px;
    display: none;
    min-height: 150px;
    padding: 1.25em 0 0 0;
}
